:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1px;
  line-height: 1.5;
  font-family: monospace, monospace;
  font-size: 15px;
}

p {
  margin: 0;
}

.logger {
  padding: 0.5rem 1rem;
  visibility: hidden;
  transform: translateY(120%);
  transition: visibility 0s linear 0.3s, transform 0.3s cubic-bezier(0.25, 0.1, 0, 1.02);
  will-change: transform;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.opened-true {
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
  transition-duration: 0.3s, 0.2s;
}

.log {
  color: var(--toast-console-log-color, #484c46);
  border-color: var(--toast-console-log-border, #cae0b9);
  background-color: var(--toast-console-log-bg, #e5f3da);
}

.info {
  color: var(--toast-console-info-color, #404b57);
  border-color: var(--toast-console-info-border, #bdd2e8);
  background-color: var(--toast-console-info-bg, #ddf0ff);
}

.warn {
  color: var(--toast-console-warn-color, #4a2e01);
  border-color: var(--toast-console-warn-border, #f9eeb2);
  background-color: var(--toast-console-warn-bg, #fffcdf);
}

.error {
  color: var(--toast-console-error-color, #fc0006);
  border-color: var(--toast-console-error-border, #fecbce);
  background-color: var(--toast-console-error-bg, #ffecec);
}
